/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Sections
  ========================================================================== */
  /**
  * Remove the margin in all browsers.
  */
  body {
    margin: 0;
  }
  
  /**
  * Render the `main` element consistently in IE.
  */
  main {
    display: block;
  }
  
  /**
  * Correct the font size and margin on `h1` elements within `section` and
  * `article` contexts in Chrome, Firefox, and Safari.
  */
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  /* Grouping content
      ========================================================================== */
  
  /**
  * 1. Add the correct box sizing in Firefox.
  * 2. Show the overflow in Edge and IE.
  */
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
  /**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /* Text-level semantics
      ========================================================================== */
  
  /**
  * Remove the gray background on active links in IE 10.
  */
  a {
    background-color: transparent;
  }
  
  /**
  * 1. Remove the bottom border in Chrome 57-
  * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
  */
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  
  /**
  * Add the correct font weight in Chrome, Edge, and Safari.
  */
  b,
  strong {
    font-weight: bolder;
  }
  
  /**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /**
  * Add the correct font size in all browsers.
  */
  small {
    font-size: 80%;
  }
  
  /**
  * Prevent `sub` and `sup` elements from affecting the line height in
  * all browsers.
  */
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sub {
    bottom: -0.25em;
  }
  sup {
    top: -0.5em;
  }
  
  /* Embedded content
  ========================================================================== */
  /**
  * Remove the border on images inside links in IE 10.
  */
  img {
    border-style: none;
  }
  
  /* Forms
  ========================================================================== */
  /**
  * 1. Change the font styles in all browsers.
  * 2. Remove the margin in Firefox and Safari.
  */
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  
  /**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */
  button,
  input { /* 1 */
    overflow: visible;
  }
  
  /**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */
  button,
  select { /* 1 */
    text-transform: none;
  }
  
  /**
  * Correct the inability to style clickable types in iOS and Safari.
  */
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  /**
  * Remove the inner border and padding in Firefox.
  */
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
  * Restore the focus styles unset by the previous rule.
  */
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  /**
  * Correct the padding in Firefox.
  */
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  /**
  * 1. Correct the text wrapping in Edge and IE.
  * 2. Correct the color inheritance from `fieldset` elements in IE.
  * 3. Remove the padding so developers are not caught out when they zero out
  *    `fieldset` elements in all browsers.
  */
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  /**
  * Add the correct vertical alignment in Chrome, Firefox, and Opera.
  */
  progress {
    vertical-align: baseline;
  }
  
  /**
  * Remove the default vertical scrollbar in IE 10+.
  */
  textarea {
    overflow: auto;
    resize: none;
  }
  
  /**
  * 1. Add the correct box sizing in IE 10.
  * 2. Remove the padding in IE 10.
  */
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  /**
  * Correct the cursor style of increment and decrement buttons in Chrome.
  */
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
  * 1. Correct the odd appearance in Chrome and Safari.
  * 2. Correct the outline style in Safari.
  */
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  /**
  * Remove the inner padding in Chrome and Safari on macOS.
  */
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
  * 1. Correct the inability to style clickable types in iOS and Safari.
  * 2. Change font properties to `inherit` in Safari.
  */
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  /* Interactive
  ========================================================================== */
  /*
  * Add the correct display in Edge, IE 10+, and Firefox.
  */
  details {
    display: block;
  }
  
  /*
  * Add the correct display in all browsers.
  */
  summary {
    display: list-item;
  }
  
  /* Misc
  ========================================================================== */
  /**
  * Add the correct display in IE 10+.
  */
  template {
    display: none;
  }
  
  /**
  * Add the correct display in IE 10.
  */
  [hidden] {
      display: none;
  }  
/**************************
Fonts
**************************/
@font-face {
    font-family: "GillSans";
    src: url("./fonts/GillSans-Light.eot"); /* IE9 Compat Modes */
    src: url("./fonts/GillSans-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./fonts/GillSans-Light.otf") format("opentype"), /* Open Type Font */
      url("./fonts/GillSans-Light.svg") format("svg"), /* Legacy iOS */
      url("./fonts/GillSans-Light.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./fonts/GillSans-Light.woff") format("woff"), /* Modern Browsers */
      url("./fonts/GillSans-Light.woff2") format("woff2"); /* Modern Browsers */
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "GillSans";
    src: url("./fonts/GillSans.eot"); /* IE9 Compat Modes */
    src: url("./fonts/GillSans.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("./fonts/GillSans.otf") format("opentype"), /* Open Type Font */
        url("./fonts/GillSans.svg") format("svg"), /* Legacy iOS */
        url("./fonts/GillSans.ttf") format("truetype"), /* Safari, Android, iOS */
        url("./fonts/GillSans.woff") format("woff"), /* Modern Browsers */
        url("./fonts/GillSans.woff2") format("woff2"); /* Modern Browsers */
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "GillSans";
    src: url("./fonts/GillSans-SemiBold.eot"); /* IE9 Compat Modes */
    src: url("./fonts/GillSans-SemiBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("./fonts/GillSans-SemiBold.otf") format("opentype"), /* Open Type Font */
        url("./fonts/GillSans-SemiBold.svg") format("svg"), /* Legacy iOS */
        url("./fonts/GillSans-SemiBold.ttf") format("truetype"), /* Safari, Android, iOS */
        url("./fonts/GillSans-SemiBold.woff") format("woff"), /* Modern Browsers */
        url("./fonts/GillSans-SemiBold.woff2") format("woff2"); /* Modern Browsers */
    font-weight: 600;
    font-style: normal;
}
/**************************
Variable
**************************/
:root {
    --primary-color: #686868;
    --secondary-color: #d50613;
    --tertiary-color: #333;
    --quaternary-color: #282d31;
    --quinary-color: #5b5b5b;

    --color-black: #000;
    --color-white: #FFF;

    --transition-t2s-all: all 0.2s ease-in-out 0s;
    --transition-t3s-all: all 0.3s ease-in-out 0s;
}

/**************************
Typography
**************************/
/**************************
Typography
**************************/
html {
    font-size: 16px;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "GillSans";
    font-size: 1em;
    line-height: 1;
    font-weight: 400;
    color: var(--color-black);
}
h1 {
    font-size: 53px;
    line-height: 80px;
}
h2 {
    font-size: 40px;
    line-height: 61px;
}
h3 {
    font-size: 24px;
    line-height: 30px;
}
h4 {
    font-size: 22px;
    line-height: 27px;
}
h5 {
    font-size: 16px;
    line-height: 16px;
}
h5 {
    font-size: 12px;
    line-height: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 200;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    padding-top: 0;
    margin-top: 0;
}
p {
    line-height: 21px;
    margin-bottom: 22px;
}
b,strong {
    color: inherit;
    font-weight: 700;
}
a {
    color: inherit;
    font-weight: 300;
    text-decoration: none;
}
a:hover, a:active, a:visited {
    outline: 0;
}
/**************************
General
**************************/
*,
*:after,
*::after,
*:before,
*::before {
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
}
figure {
    margin: 0;
}
ul,
ol {
    list-style-type: none;

    padding: 0;
    margin: 22px 0 22px 0;
}
li {
    color: var(--primary-color);
    line-height: 1;
    margin-bottom: 12px;
}
hr {
    background-color: var(--primary-color);
    border: 0;
    height: 1px;
}
button:focus {
    outline: none;
}
.main-container {
    max-width: 1400px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
/**************************
Style
**************************/
/* page-one */
.page-one {
    text-align: center;
}
.page-one h1 {
    letter-spacing: 22px;
}
.page-one span {
    display: block;
    letter-spacing: 7px;

}
/* social-network */
.social-network {
    display: flex;
    justify-content: center;
}
.social-network i {
    color: #231F20;
    font-size: 40px;
}
.social-network li:not(:last-child) {
    margin-right: 54px;
}